# Core Flask
Flask==3.0.0
Werkzeug==3.0.6

# Database
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.13.1

# Authentication
PyJWT==2.8.0
bcrypt==4.1.2

# API and Serialization
flask-restx==1.3.0
marshmallow==3.20.1
Flask-Marshmallow==0.15.0

# Development & Testing
coverage==7.4.1
Flask-Script==2.0.6
Flask-Migrate==4.0.5
pytest==7.4.3
pytest-flask==1.3.0

# Production
gunicorn==22.0.0

# Utilities
python-dotenv==1.0.0
